#page-landing {
    background: linear-gradient(329.54deg, #29b6d1 0%, #00c7c7 100%) no-repeat;
    
    min-height: 100vh;
    height: center;
    

    display: flex;

    align-items: center; /*esta alinhando somente em cima e em baixo*/
}

#container {
    margin: auto;   /*Esta alianhando em todos os lados*/
    width: min(90%, 112rem);
} 

.location, h1, .visite p { /*serve para encontrar elementos e editar separadamente*/
    height: 16vh;
}

.visit {
    display: flex;
    flex-direction: column;
    align-items: initial;
    justify-content: center;
}

.visit a {
    width: 8rem;
    height: 8rem;
    margin-top: 20px; 

    background: #ffd666;

    border: none;
    border-radius: 3rem;

    display: flex;
    align-items: center;
    justify-content: center;
    
    transition: background 200ms;
}

.visit a:houver {
    background: #96feff;
}

#logo {
    animation-delay: 50ms;
}

.location {
    animation-delay: 100ms;
}

.feli {
    animation-delay: 150ms;
}

.visit p {
    animation-delay: 200ms;
}

.visit a {
    animation-delay: 250ms;
}

/*desktop version*/
/*para o @media funcionar, deve ter a linha meta=nome "viewport", pois é o viewport que aplica o @media*/

@media (min-width:760px) { 
    header {
        display: flex;
        align-items: center;    /*align-items e justify-content são disponiveis quando tiver o display flex*/
        justify-content: space-between;
    }

    .location, h1, .visit p {
        height: initial;
        text-align: initial;
    }

    .location {
        text-align: right;
    }

    h1 {
        font-size: clamp(3rem, 9vw, 9.3rem); /* o clamp ajusta o tamanho de acordo com o mobile ou desktop*/
        font-weight: bold; /*bold é negrito*/    
        line-height: .80;

        margin: clamp(2%, 9vw, 5%) 0 2rem;

        width: min(300px, 80%); /*limite de largura para o texto*/
       
    }
}