    * {
    margin: 0;  /* margin = margem*/
    padding: 0; /* padding = preenchimento*/
} /* O *{} é um seletor universal*/

body {
        height: 100vh; /*height = altura*/
        color:white;
}

:root {
    font-size: 62.5%;
}
body, input, button, textarea {
    font-size: 16px;
    font-family: 'Nunito', sans-serif;

    font: 400 1.8rem/1 'nunito', sans-serif;

} /*body, input... agrupados para colocar declarações para se aplicar a todos o itens selecionados*/






